[2016-05-10 05:52] nisrulz opened #5 "Enable compatibility with emulator for running the sample app"
As of now the sample app would not return any data when running on an emulator. This is because possibly the emulator does not support any sensor mocking.

To do so a possible solution of interest I found over at this [link](http://stackoverflow.com/a/10677169/2745762).

[2016-06-08 18:10] branemk opened #6 "Shake detection to sensitive"
Can you add option for changing sensitivity to shake detection ? Right now is to sensitive it detect when I pick up phone from table.

[2016-06-10 13:51] nisrulz commented on #6
@branemk Can you please explain the issue in a more verbose manner.

[2016-06-10 14:09] branemk commented on #6
@nisrulz I am talking about being able to set how much motion to detect.

As you can see here https://github.com/nisrulz/sensey/blob/develop/library/src/main/java/com/github/nisrulz/sensey/ShakeDetector.java

you have commented the line saying " Make this higher or lower according to how much
      motion you want to detect" , so I am asking for option to change that number.

[2016-06-10 14:14] nisrulz commented on #6
@branemk got it. I will provide an option to configure it in the next release.

[2016-06-14 08:38] nisrulz commented on #6
Fixed in 7c5e362b92133890e1798ef2beb451d23674a08a

[2016-06-14 08:38] #6 closed

[2016-06-23 20:16] programmerr47 opened #7 ""Swipe left"/"Swipe right" does not work correctly"
Tested sample app on Nexus 5, Android 6.0. Try to swipe to right, it shows "Swipe left" label. Moreover when try to swipe to top or bottom, it shows "swipe left".

[2016-06-23 20:18] nisrulz commented on #7
The code is in `develop` branch, not fully functional. The final `release` will have it working.

[2016-06-23 21:55] programmerr47 commented on #7
Hi. Thank you for your reply. I've already have, as I think, fix for that. And also I wrote tests for all classes. If you don't mind, I would like to make pull request.

[2016-06-24 02:54] nisrulz commented on #7
All pull request/contribution are welcome. Go ahead and send it.

[2016-06-24 08:40] nisrulz commented on #7
Code merged from pull request https://github.com/nisrulz/sensey/pull/8 , some fixes added and code cleanup done and new version is released at commit 32edad619d04ae79153d512a8506f4f58f3940f7

Closing this issue as the latest version `1.3.0` includes all fixes and solves this issue

[2016-06-24 08:40] #7 closed

[2016-06-29 05:58] programmerr47 opened #11 "[Question] Enhancement of Javadocs"
Hi. Recently I saw your update and you added javadocs, and I think for library project it's awesome.
But may be it should be written more info than simple, for example,  "Creates new Flip Detector", because when you write `new FlipDetection(something)` you already now, that you creating new Detector. I think it would be greate if javadocs contained more specific info about, why we need, for exampl

[2016-06-29 07:18] nisrulz commented on #11
@programmerr47 Yes, I added the basic javadocs using a plugin which populates the javadoc comments . I will update it when I do get the time. Meanwhile all PR are welcome :)

[2016-06-29 07:42] programmerr47 commented on #11
@nisrulz Sounds great. By the way I've created a pull request with fixing bug of leaking "default" detectors.

The special test was introduced in pull request. In short we twice calling for example "startProximityDetection" and then two times "stopProximityDetection". Then we will still have one detector registered in sensorManager. I fixed that.

[2016-07-06 21:30] gouravd opened #13 "How do we add the Touch listeners to specific views?"
How do we add the Touch listeners to specific views?

[2016-07-07 09:24] nisrulz commented on #13
@gouravd I haven't tested the lib to work with specific views but I would test that out before I can make a statement about it.

[2016-10-14 12:00] k0shk0sh commented on #13
Override this in your custom view and you should be good to go.
[code]

[2016-10-15 17:19] ravidsrk commented on #5
@nisrulz Latest android emulator supports sensor mocking. https://twitter.com/molsjeroen/status/778163738285314048

[2016-10-15 18:54] nisrulz commented on #5
@ravidsrk Thanks for pointing that out. I will test and close this issue.

[2016-10-22 11:47] MaximilianKeppeler opened #14 "Proximity detection of a specific distance"
In my use case I need to trigger a special event at a customizable distance. The onNear and onFar methods work incredibly good. But the distance, when these are triggers, is too low for my use case.

**There are 2 options I thought of.**

**A onDistance method**, which will be triggered at a specific distance, which was defined/ set before.

**No additional method, just changing the distance when

[2016-10-24 18:58] NielsMasdorp commented on #14
`startProximityDetection` method can take a `float` threshold parameter. Isn't that what you mean?

[2016-10-24 19:51] MaximilianKeppeler commented on #14
Doesn't seem to have any influence on my device. I variegated with the value, but the threshold was still around 2 cm / as without any float value.

[2016-10-24 20:34] NielsMasdorp commented on #14
Weird, according to the Android Developer documentation the sensor usually returns the distance in cm so calling `startProximityDetection(10f, this)` should make it trigger at 10cm. Maybe try with a different device?

[2016-10-24 20:45] MaximilianKeppeler commented on #14
I only have one device, a Nexus 6P. With a float value of 10, the onFar Method is not even triggered anymore. (The onNear method is still triggered, but at the same distance, as without a threshold input at all.)

Which device do you have?

[2016-11-03 20:14] indianpoptart opened #15 "Chop Detection"
Is there a way to add a chop detection like the Motorola Flashlight chop detection, or if sensey already does it. Thanks

[2016-11-04 07:43] nisrulz commented on #15
@indianpoptart Can you explain what you mean by "Chop" Detection.

[2016-11-04 07:45] nisrulz commented on #13
@gouravd Can you confirm that this is resolved.

[2016-11-04 07:51] indianpoptart commented on #15
Here's a short video:
[Chop Detection](https://www.youtube.com/watch?v=edtCMqK8Rn8)

[2016-12-15 10:25] Zulqurnain opened #16 "Detect Shake Stopped"
How to detect shake is stopped ?

[2016-12-15 11:19] nisrulz commented on #16
Can you be a bit clear in what exactly you want done ?

Just so you know its a single event that a shake is detected, and not that a shake has started and stopped. Such events can occur as multiple shakes detected but it is not detected as a stream of when a shake was started and when it was stopped. That is so because the detection works of by calculating the diff in acceleration and deceleration

[2016-12-15 15:21] Zulqurnain commented on #16
in my case i'm doing something in my app , as long as user keep shaking its phone , but when it stop's it must revert back all operation what were done while shaking , now i understand how that , i propose there should be **onShakStop** function too in the interface which can detect the continues shaking have been stopped ??

And i hope it is not that difficult:

[code]

[2016-12-27 12:17] MaximilianKeppeler opened #17 "onFar is triggered when switching to Android N Multi View."
That's some odd issue I have at the moment. The onFar method (from ProximityListener) is triggered when I switch to the Android N multi view.

`Sensey.getInstance().init(this);
        proximityListener = new ProximityDetector.ProximityListener() {
            @Override
            public void onNear() {
                Log.d("Test", "onNear: ");
            }

            @Override
            pu

[2016-12-27 12:40] MaximilianKeppeler commented on #17
It's replicable with your sample. Just tried it out.

[2017-01-24 01:59] c0state opened #18 "Is it possible to create more than one Sensey instance in an activity listening on different views"
It seems like only one instance of Sensey can be created per activity (or context to be precise). Is there any way to create and attach different Sensey listeners to more than one view in a single activity?

[2017-02-06 08:16] nisrulz commented on #13
Closing as already answered.

[2017-02-06 08:16] #13 closed

[2017-02-06 08:18] nisrulz commented on #5
I have tested this and the current version of Android Emulator with virtual sensors is able to run the library and the sample app without any modifications.
Closing as works as intended.

[2017-02-06 08:18] #5 closed

[2017-02-06 08:24] nisrulz commented on #18
@c0state the reason Sensey uses a singleton , is because it access sensor data which are specifically hardware that you have access to. The data stream you would usually get would also be one, as the hardware is going to be one. Hence even if you had multiple listeners you would still be accessing the same data stream. In this scenario all your listeners would still fire up even if you used multip

[2017-02-06 09:02] ravidsrk commented on #5
👍

[2017-02-06 09:08] gouravd commented on #13
I had to eventually create a wrapper view on top of my views and overridden the dispatch events for these wrapper views.

[2017-02-13 02:14] nisrulz commented on #16
@Zulqurnain the latest release(1.6.0) the option to detect when shake gesture is stopped.

Closing as fixed.

[2017-02-13 02:14] #16 closed

[2017-02-13 02:15] nisrulz commented on #15
@indianpoptart  the latest release(1.6.0) has the option to detect chop gesture.

closing as implemented.

[2017-02-13 02:15] #15 closed

[2017-02-13 09:12] triveous opened #19 "Reactive updates"
Any plans of providing reactive updates for all the gestures? (as in `Observable` instead of listeners)

[2017-02-13 15:37] nisrulz commented on #19
@triveous I have it planned for the next release.

[2017-02-17 17:17] aritraroy opened #20 "Need a single event for Flip detection"
I just saw your library, actually liked it and thought to give it a try.

After attaching a flip detection listener in my activity, I see that the events are continuously getting fired. Like,

[code]
in this code, I am getting continuous logs for "DEVICE UP" when the device is facing up and continuous logs for "FACE DOWN" when the device is facing down.

But my requirement is something different.

[2017-02-17 18:08] nisrulz commented on #20
it's not possible as per the current release, but I can push it out in the next release.

[2017-02-17 18:30] aritraroy commented on #20
Okay. Thanks. Any tentative date for the next release?

[2017-02-17 19:03] nisrulz commented on #20
I am planning to do it week by week basis i.e will try to push the next release this weekend.

If you think you can can fix it yourself and would like to submit a PR, go ahead with that.

[2017-02-18 01:49] PedroBarbosaPT opened #21 "Attempt to invoke virtual method 'float android.view.MotionEvent.getX()' on a null object reference"
It works, but sometimes it shows this error:
(Double Tap)

I don't know how to replicate tho :/

[code]

[2017-02-18 02:24] nisrulz commented on #21
@PedroBarbosaPT  Can you provide device details and os details.

[2017-02-18 16:04] PedroBarbosaPT commented on #21
@nisrulz Android Emulator - Nexus 5 API 23

[2017-02-21 03:27] maoqis opened #22 "What is Wrist Twist Detection？"
How can i touch off Wrist Twist Detection by moving screen？

[2017-02-21 04:15] nisrulz commented on #22
Hi @maoqis, you can checkout this video on yourtube to see how to do a wrist twist gesture

https://www.youtube.com/watch?v=P95eCwkPS4w

[2017-02-21 08:40] DanteAndroid opened #23 "Touch based gestures used for views"
Can Touch-based gestures be used for views?
I didn't see a view passed into related methods.

Besides, the naming is elegant, it's better if gestures' names are explicated. (e.g. I'm confused with `Wave` and `Shake`)

Nice work, BTW.

[2017-02-22 07:07] maoqis commented on #22
thanks!

[2017-02-22 07:33] nisrulz commented on #22
Closing as I am assuming this works for you 😄

[2017-02-22 07:33] #22 closed

[2017-02-28 08:53] nisrulz commented on #20
@aritraroy I have updated the code and the new release fixes this issue. Please confirm and close this issue if it works as expected.

[2017-02-28 08:54] nisrulz commented on #23
@DanteAndroid you might wanna check out issue #13. Let me know if it solves your issue.

[2017-02-28 08:55] nisrulz commented on #21
@PedroBarbosaPT I have yet to reproduce this issue. Just so you know this issue isn't abandoned. 😅  Will update you when I am able to replicate and provide a possible solution.

[2017-02-28 14:12] PedroBarbosaPT commented on #21
@nisrulz No problem. The error never happened again, so ... 😅

[2017-02-28 18:44] nisrulz commented on #21
Hmm.. good to know that. I am closing this issue until it resurfaces again.

[2017-02-28 18:44] #21 closed

[2017-03-01 02:18] DanteAndroid commented on #23
I don't think it's a nice way to use a Custom View. If Touch-based gestures can't be used for views, what is its meaning? Just for Activity?
It'd be great if you could improve it when you have time:)

[2017-03-01 02:40] nisrulz commented on #23
@DanteAndroid I agree and I will look into it. For now, the current version only supports activity or custom view. Keeping this issue open until fixed.

[2017-03-01 05:33] aritraroy commented on #20
Thank you, I will give it a try as soon as possible and let you know.

[2017-03-19 07:21] #20 closed

[2017-03-25 18:53] Ajimi opened #25 "Movement detection"
I tried to make a Twist wrist with my phone but it doesn't work .

https://www.youtube.com/watch?v=P95eCwkPS4w&ab_channel=CSpire

also the chop movement won't get triggered

and the wave can you explain more how to do them.

[2017-03-27 01:04] nisrulz commented on #25
@Ajimi Can you provide me logcat and device information?

[2017-03-31 08:30] ptrbrynt opened #26 "Continues to detect after activity is closed"
I've called `Sensey.getInstance().stopWristTwistDetection(wristTwistListener)` in `onPause()` and `onStop()`, and I've also called `Sensey.getInstance().stop()` in `onDestroy()`. Am I missing anything?

[2017-04-02 04:48] nisrulz commented on #26
@peter-rotacloud can you share more information like logcat logs which shows the sensey detection is happening even after your activity is closed. You are probably keeping it active somewhere, because technically if say you didnot call `Sensey.getInstance().stop()` in `onDestroy()` what you will be doing is leaking memory. The system anyways shuts down all functional execution for the activity as

[2017-04-07 08:34] drogbababa opened #27 "The shake mode is too sensitive to me"
Please fill out the blanks below describing your issue

What are the steps to reproduce this issue?
-------------------------------------------
1. …
2. …
3. …
…

What happens?
some little movement is on shake.

What were you expecting to happen?
i expect the shakeThreshold can be larger.or users can modify it themselves

Any logs, error output, bugreport etc?
----------------------------
(If it’s

[2017-04-07 18:39] nisrulz commented on #27
You can set the threshold value when starting the shake detector.

Check here under the wiki.

https://github.com/nisrulz/sensey/wiki/Usage#shake

[2017-04-30 01:07] c0state commented on #18
That makes sense, thanks for the detailed information.

[2017-04-30 01:07] #18 closed

[2017-05-06 08:32] gauravat16 commented on #27
@nisrulz Can you tell me the units and scale for Threshold and time?

[2017-05-07 20:45] nisrulz commented on #27
Threshold here is acceleration i.e m/s*s
timeBeforeDeclaringShakeStopped is the time in milliseconds.

I would update the same in the wiki docs, a new version of Sensey is under development and I would make sure more documentation and other details are available by the time it releases.

[2017-05-07 20:56] nisrulz commented on #14
Closing this issue as there isn't any direct possible solution to getting proximity updates from the proximity sensor.i.e it's a hardware limitation on what kind of proximity sensor a device has.

A possible solution can be using the camera to measure the distance but that's a far-fetched solution taking into account what the goals of the library are now.

If in future it makes sense, will open up

[2017-05-07 20:56] #14 closed

[2017-05-18 09:32] bjaanes opened #28 "Feature Request: Tap on device body detection."
Some devices don't actually have screens or are a hand-held device. I am thinking of smart glasses with android. I have an ODG R-7 and I want an easy way to start voice detection, and one of the easiest way I have thought if to double-tap on the body of the glasses.

Would it be much work to add some sort of body-tap detection to this library?

[2017-05-18 23:37] nisrulz commented on #28
@bjaanes That is an interesting thought. I am currently working on a major update to my library (v2.0) and I can definitely look into this feature.

I would, however, need to look at the feasibility of this in the first place. Also since I do not have any such hardware would you be interested in testing it out when I have the code for it on your device?

[2017-05-22 07:20] bjaanes commented on #28
Sure, that makes sense. I would be very much interested in trying that out on my pair of ODG R-7! :)

[2017-06-12 13:57] mistrydarshan99 opened #29 "How to implement dispatchTouchEvent() in fragment?"
Hello,

This library works very well in activity but not getting touch detection in the fragment.

So how to implement in the fragment. And also don't get dispatchTouchEvent() method in a fragment.

[2017-07-13 19:07] indianpoptart opened #30 "Multiple Detection"
Is there a way to detect multiple consecutive motions? Such as detecting two chops in ChopListener, as opposed to a singular chop.

Thanks

[2017-07-13 19:08] indianpoptart commented on #30
Additional info:
Would I have to just make another listener inside onChop? or is that a dumb idea. Thanks

[2017-07-13 21:03] nisrulz commented on #30
Well you can count the number of times a chop event is triggered. Its not a dumb idea, but since its not built into the lib as of now, doing it that way should work. It isn't the best solution though.

I am just wondering how much of a use case there is to put a counter in the lib itself. The thing is, all these events are time based. So the counter eventually would need to reset if the chop event

[2017-07-14 03:29] indianpoptart commented on #30
I can probably just implement a counter, didn't even think of that :)

You don't have to add it to the lib, up to you though. Probably easier to add a little not to the readme or wiki.

Thanks a bunch!

[2017-07-14 05:00] nisrulz commented on #30
I guess this solves your issue at hand. I will open a new issue if I see it fit to include it in the future.

Closing the issue for now.

[2017-07-14 05:00] #30 closed

[2017-07-28 18:00] PankajRaincan opened #31 "Not Working in Android 7.0 but Touch Detectors are working"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**Any logs, error output, bugreport etc?**

**What is the expected behavior?**

**Any other comments?**

**What versions of software are you using?**
+ **Device Information:**

+ **Android Version:**

+ **Configuration Informati

[2017-07-28 23:26] nisrulz commented on #31
@PankajRaincan can you explain "Not Working in Android 7.0" a bit more clear as to what is not working?

[2017-07-29 09:03] PankajRaincan commented on #31
Hey,
Whenever I'm trying to do any motion gestures its not responding at all.Am I doing anything wrong as I tried it with Activity as well as Service.And even I tried with your sample application still no luck.

`Sensey.getInstance().init(this);
Sensey.getInstance().startWaveDetection(this);
 @Override
  public void onWave() {
    //my logs
  }
`

[2017-07-29 09:10] nisrulz commented on #31
Wave detection works using Proximity sensor, I am assuming you are not in the proximity of your device. Are you having issues with other event types too ? If so which ones. Its hard for me to debug this, if you cannot provide me more info apart from saying its not working. If possible hook your device to a laptop and gather whatever your logcat is able to log from the system.

Another thing to che

[2017-07-29 09:38] PankajRaincan commented on #31
Proximity Sesnor is functional I have checked it by putting logs in onSensorChanged callback.

07-29 15:06:02.561 7573-7573/com.github.nisrulz.senseysample W/System: ClassLoader referenced unknown path: /data/app/com.github.nisrulz.senseysample-2/lib/arm
07-29 15:06:02.586 7573-7573/com.github.nisrulz.senseysample I/InstantRun: starting instant run server: is main process
07-29 15:06:02.587 7573-7

[2017-07-29 09:55] nisrulz commented on #31
Ok. So from this what I can guess is that everything works for you except the Wave detection, correct me if I am wrong.

Now if the above case is the issue, then  maybe you are doing the gesture wrong. So the way it is supposed to work is you move your hand over your proximity center and the time diff is calculated , which if it exceeds the threshold, it is detected as a wave gesture event.

I am

[2017-07-29 10:05] PankajRaincan commented on #31
Yes that might be the case though I have tried many variations of wave. I hope as soon as your videos come my problem will get solved.
Thanks

[2017-07-30 20:30] yesidlazaro commented on #29
any news here?

[2017-10-03 10:45] amanzan opened #32 "New permission added: RECORD_AUDIO. Is it possible to remove it?"
I added this library to my project, and when trying to upload the apk to Google Play, I get the following warning:
WARNING
Users that have the APK with version code 10 may need to accept the android.permission.RECORD_AUDIO permission, which may result in them not upgrading to this version of the app.

I assume this is for the "Sound Level Detection" and I see this permission is added to the librar

[2017-10-03 16:28] nisrulz commented on #32
Its actually been removed in the `develop` branch. I just haven't released it in the `master` branch as a release.

[2017-10-04 16:52] amanzan commented on #32
Ah ok, thanks! When are you planning on releasing the new version?

[2017-10-04 20:33] nisrulz commented on #32
I think I can release it by this weekend.

[2017-11-10 00:17] Patra89 commented on #21
I have the same problem. From my stats on Fabric it looks like it occurs only on Samsung (94%) and Huawei(6%) devices. I wasn't able to replicate the problem myself.  It's the most occurring bug in my app right now, Is there any solution to this?

[2017-11-10 02:46] nisrulz commented on #21
Hi @Patra89
Could you share information from your fabric account. For both devices where you are seeing this. Also please provide me full details of the device specs. If you do figure out how to replicate this that would be really helpful too.

[2017-11-10 11:55] Patra89 commented on #21
**Stats from Fabric:**

**Samsung devices:** Galaxy S4, SM-G950U, Galaxy S7 Edge, SM-G950F, SM-A320FL, Galaxy S7, Galaxy S6, SM-N950F, SM-N950F, Galaxy Note4, Galaxy S6 Edge, Galaxy A7(2016), Galaxy S6 Edge+

**Huawei devices:** P9, P8 Lite

**Operating systems:**
7 - 64%
5 - 23%
6 - 13%
(I don't support anything below 5.0)

**Device statistics:**
Proximity On - 6%
App in Focus - 6%
Rooted - 0%
__

[2017-11-26 21:02] martinflorek commented on #32
@nisrulz anything new about this issue? and thanks for this great library!

[2017-11-27 05:45] nisrulz commented on #32
@martinflorek I had been traveling. I have been working on one version of this library which is a major update, but I see the permission problem. I will release a version without the permission asap and then move to the next major release.

Please give me sometime, possibly a day or two and I will surely push out a version so that the permission issue is solved.

Thank you for your patience and us

[2017-11-27 07:18] martinflorek commented on #32
@nisrulz thanks for the quick reply and for the hard work.

I needed to release a beta version of my app asap, so I have just removed the permission from my app via Gradle. Hope it will not cause issues in release build (I am using just the shake detector) and I will wait for your stable release for my stable release. Thank you again.

[2017-11-28 16:30] cpBurn opened #33 "[question] Movement direction"
Any hints on how I can get movement direction?
I would expect that [movement](https://github.com/nisrulz/sensey/wiki/Usage#movement) would pass an object with some values, but doesn't seem to be the case.

[2017-12-05 07:07] nisrulz commented on #32
@martinflorek I have just released a new version of Sensey (v.18.0), which addresses this issue. Please checkout the changelog for breaking changes in this release [here](https://github.com/nisrulz/sensey/releases/tag/1.8.0)

Apologies for the delayed update for this bug.
Thank you for your patience and using this library.

[2017-12-05 09:47] amanzan opened #34 "Wave detector not very reliable"
Is there any way to improve wave detector? It doesn't seem very reliable. I tried to adjust threshold but it's pretty much the same as the proximity detector, it triggers many times when it is not supposed to (e.g when your hand is near the phone)

[2017-12-05 13:16] martinflorek commented on #32
@nisrulz Thank you! I will test it tonight. My app is targeting API 19 and up so there should not be a problem.

[2017-12-06 20:52] martinflorek commented on #32
@nisrulz Works good, issue can be closed. Thank you.

[2017-12-07 10:21] #32 closed

[2017-12-24 21:28] Vel-San opened #35 "I'm Using your library now !"
I Just added your library to my app ( Shake detection to be exact ) and it's working flawlessly ! already included the library name in my app as well.

[Get Off Your Phone - Play Store](https://play.google.com/store/apps/details?id=com.nephi.getoffyourphone)

Thanks so much for such an excellent library mate ! Keep it up.

If you need more information please tell me :)

[2017-12-25 07:32] nisrulz commented on #35
Hi @Alikaraki95, thanks you😺
I will add your app under my readme too 😄
If you find any issues, please open up an issue and I would try my best to resolve it asap.

P.S: A brand new version of Sensey should be live in the new year 2018, so keep a look out for it. A lot of things coming to it.

[2018-01-03 15:50] javadVatan opened #36 "Step Detection"
Hi dear.
 I read in following link  about step Detection, but it's not really in your library!!
Did you removed this feature?
https://github.com/nisrulz/sensey/wiki/Usage#steps   --> here you talked about it.

[2018-01-03 18:12] nisrulz commented on #36
No, I didnot remove it. Its a mistake, I did not notice it. Thank you for reporting it.
Actually I added a few more detectors but then found a critical bug in them and pulled down the release. I will fix the readme for now and the wiki page, until it is fixed and properly released.

I am actually working a bigger update to Sensey and plan to release more detectors along with it.

Thank you for rep

[2018-01-04 18:05] javadVatan commented on #36
okay, thank you.
It was so fun for me. I checked all version of your library for find them 😅😅

[2018-01-04 18:05] #36 closed

[2018-01-30 14:39] zakrodionov opened #37 "How to change the speed of the scroll &&"

[2018-03-06 08:51] theebi opened #38 "Unable to access Stepdetector"
The step detector from this library is not available in version 1.8.0 . How do I find if a person is running?

[2018-03-06 13:14] nisrulz commented on #38
There was some critical issue because of which I had to pull 3 detectors down. I believe the wiki still mentions them. I will update them and remove them.
For now, I believe you should just try and find some other lib to work with. There is a new version of sensey in work, but I cannot give you a release date for it.
I apologize for the inconvenience caused. Please watch this repo for the release

[2018-03-18 16:01] tdubes opened #39 "Gesture RecognitionApp"
**Do you want to request a *feature* or report a *bug*?**
      Report a bug
**What is the current behavior?**
     Using the library l would like to use touch based gesture,  so am having errors within the method that        is said to be included as said by the documentation and it is said to be very important.
it is saying: Cannot resolve method 'dispatchTouchEvent'(android.view.MotionEvent)

*

[2018-03-18 16:03] tdubes commented on #39
Please Help because am using this library for project and l am still new to android.

[2018-03-19 02:09] nisrulz commented on #39
@tdubes I see no code in the public repo. Please define the steps to reproduce. I did check it in the activity and it works, you should check the sample app for implementation once.

[2018-05-13 08:53] YasirAmeen opened #40 "I need a help, i want to use Orientation sensor when device is rotating.."
I am using your library is good, i am using orientation sensor. but i want to use it when my device is in landscape.

can you please guide ??

Thanks

[2018-05-13 14:01] nisrulz commented on #40
@YasirAmeen can you provide a more detailed explanation of your issue? I am sorry I do not totally get your point.

[2018-05-21 12:02] rameshmkll commented on #15
Chop is not working
  Sensey.getInstance().init(DashBoardActivity.this);
chopListener=new ChopDetector.ChopListener() {
            @Override public void onChop() {
                // Chop gesture detected, do something
                Toast.makeText(mMyApp, "chop", Toast.LENGTH_LONG).show();
                Log.i("chop","started");
            }
        };
        Sensey.getInstance().startChopDe

[2018-06-17 15:37] rgocal opened #41 "Request for 2.0"
I'm using Sensey as the gesture driver in my launcher. It works beautifully but I'd like to see more finger gestures than hardware. One finger clicks and movements, 2 finger clicks and movement, 3 finger clicks and movement.

Idk if this would be considered a gesture but could a retinal sensor detection be implemented? Like for winks, blinking? Probably not supported on all devices.

Fingure print

[2018-06-17 17:08] nisrulz commented on #41
@rgocal Thank you for your words, feedback and feature suggestions. I am trying to make Sensey more modular and the new version 2.0.0 is planned but without a timeline.

I will keep your feature request in mind and release it if it makes sense with the new release.

On a side note, if you would like me to mention your launcher in the Readme of this repo, do share with me the link and I will do so.

[2018-06-17 22:46] rgocal commented on #41
Once my launcher update hits an open beta and I feel comfortable with its performance, il drop a link!

[2018-07-06 13:03] pnkram commented on #29
So it's not possible at the moment to implement touch detection inside a fragment? I would need put 2 square/rectangle inside an activity and put 2 different touch detector.

[2018-07-06 14:10] pnkram commented on #29
Hi, inside my mainactivity I put a FrameLayout in which there is another layout. Inside that layout I initialized sensey while in mainactivity i set dispatchTouchEvent like this:

[code]
However when I touch the screen, the touch event is being recognized in everywhere while it should recognized only inside the layout inside the fragment.

Can anyone please help me?

[2018-07-08 07:31] viper619 opened #42 "TouchListener for ImageView"
I want to implement on double tap listener on ImageView how to do that?

[2018-07-09 20:40] pouyaazi opened #43 "change sensitive on shake"
hi every body
how can i set sensitive level?
because so sensitive and this to bad on shake

[2018-07-09 20:43] #43 closed

[2018-07-17 07:16] Razeem-P-B opened #44 "Action to specific area"
Now the action is doing for the root view.I want to add the actions to a specific view only.Like webview

[2018-08-18 17:12] nisrulz commented on #17
@MaximilianKeppeler I have restarted working on my library.  Is this still an issue, if yes can you share a video link for me to see how you are able to replicate it?

[2018-10-23 07:29] debmalya191 opened #45 "App keeps crashing"
My github rep-
https://github.com/debmalya191/gestureapp

I am making a simple app where on the shake gesture a new activity opens from the main activity but the app keeps crashing.

Here is my logcat-

dRuntime: FATAL EXCEPTION: main
                                                                             Process: com.example.mahe.gestureapp, PID: 28290

[2018-10-23 10:18] nisrulz commented on #45
A couple of things were wrong in your project. I fixed them. here is the zip of the fixed project.

[gestureapp-master.zip](https://github.com/nisrulz/sensey/files/2505684/gestureapp-master.zip)

[2018-10-23 10:18] nisrulz commented on #45
Closing as it is fixed.

[2018-10-23 10:18] #45 closed

[2018-12-17 03:30] rgocal commented on #41
Feeling abit xomfortable to share this now. Working on making sime Sensey enhancments in my launcher soon. Your more tham welcomed to use this in your readme as an example ofbusage if you approve.

https://play.google.com/store/apps/details?id=com.gsd.launcher.sapphyx

[2019-02-27 11:45] kpradeepkumarreddy opened #46 "Using seney inside background work manager worker"
I'm using sensey inside work manager worker. Can i use this library to sense even when the app is in background ?

[2019-03-12 08:24] nisrulz commented on #46
Yes and no.

With API 28 onwards there are background limitations imposed by Android OS itself. SO considering that background processing might not work because the sensor data is not even available via the OS.

Sensey was built to tap into system generated sensor data. If the OS doesn't emit sensor data, sensey cannot do anything.

[2019-04-10 15:06] MylesIsCool opened #47 "PickupDeviceListener.onDevicePutDown() is never called"
**Do you want to request a *feature* or report a *bug*?**
Bug Report

**What is the current behaviour?**
The PickupDeviceListener.onDevicePutDown() method is never called so any code using it is never triggered.

**If the current behaviour is a bug, please provide the steps to reproduce.**
Put down the phone, the event is not called (if you put System.out.println() statements)

**What is the expec

[2019-05-02 19:49] rgocal commented on #41
Any updates on the development of 2.0?

[2019-07-06 16:14] Death14Stroke opened #49 "TouchType Motions in service"
How to use touch type motions in service? I want to detect a triple tap on my screen even when the screen is locked/

[2019-07-17 03:29] soumenadhikari opened #50 "is:issue is:open (Question) Is there any long press release listener?"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

**Any logs, error output, bugreport etc?**

**What is the expected behavior?**

**Any other comments?**

**What versions of software are you using?**
+ **Device Information:**

+ **Android Version:**

+ **Configuration Informati

[2019-09-30 19:00] Thihazawzaw opened #51 "Please Solute this bug error"
java.lang.NullPointerException: Attempt to invoke virtual method 'float android.view.MotionEvent.getX()' on a null object reference
	at android.view.View.onTouchEvent(View.java:13738)
	at android.support.design.widget.CoordinatorLayout.onTouchEvent(CoordinatorLayout.java:449)
	at android.view.View.dispatchTouchEvent(View.java:12527)
	at android.view.ViewGroup.dispatchTransformedTouchEvent(ViewGrou

[2019-12-09 13:24] pratikbutani opened #52 "ShakeDetion should work in background"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
ShakeDetection is working when app is open. I want it even though app is killed.

**If the current behavior is a bug, please provide the steps to reproduce.**

**Any logs, error output, bugreport etc?**

**What is the expected behavior?**

**Any other comments?**
Please help to work with Shake Sens

[2019-12-09 13:33] nisrulz commented on #52
This can not be done anymore, from Android 9 onwards.

Read more: https://developer.android.com/about/versions/pie/android-9.0-changes-all#bg-sensor-access

[2019-12-12 05:19] pratikbutani commented on #52
There is also written like:

[2019-12-12 08:07] nisrulz commented on #52
True, but that is not a implementation I see being bundled in the library. Activity/Services are not supposed to be bundled. They are a client side implementation. The Aim of Sensey is to detect the Gesture, how and where it is needs to be detected is a app developer decision.

[2019-12-12 10:24] pratikbutani commented on #52
Yeah, you are right. This is really great library.

Thank you @nisrulz for your time.

[2019-12-12 10:24] #52 closed

[2020-05-18 01:02] #35 closed

[2020-05-23 14:31] nisrulz opened #54 "📖 Guest Book 🙇🏻‍♂️"
This "issue" serves as a guest book. You're welcome to write nice things about this project, share how it's helped you out, or name drop companies using it.

Idea came from this [tweet](https://twitter.com/wilkieii/status/1262914563521085442).

[2020-05-25 10:57] #26 closed

[2020-10-14 13:41] VanFanelia commented on #21
Have the same bug here on my test Device.

Stack trace:

2020-10-14 15:07:32.521 18965-18965/de.sipgate.app.satellite V/ProfileListEntry: [2020-10-14 15:07:32:517] [18965] [VERBO] [ProfileListEntry]: Event was ACTION_MOVE
2020-10-14 15:07:32.528 18965-18965/de.sipgate.app.satellite V/ProfileListEntry: [2020-10-14 15:07:32:528] [18965] [VERBO] [ProfileListEntry]: Data: rawX: 486.82617, x: 486.82617

[2020-10-14 13:54] VanFanelia commented on #21
My temporary fix is a big try catch around sensey's setup method. It works, but is not a reliable solution.

`
override fun dispatchTouchEvent(event: MotionEvent?): Boolean {
        // Setup onTouchEvent for detecting type of touch gesture
        try {
            Sensey.getInstance().setupDispatchTouchEvent(event)
        } catch (e: Exception){
            Timber.e(e, "Sensey got an exception.

[2020-11-28 11:41] Mir1001 opened #55 "feature Update release version"
Thanks for the great work.

I have noticed that the master branch is quite old compared to the development one. Is it possible to make some release upgrade?

[2020-11-29 10:33] nisrulz commented on #55
Hi @Mir1001 there is no big update that is in the `develop` branch, this is why there has been no release. That branch is basically me doing some cleanup and updating project/sample app but not the library.

However if it helps, I can make a point release with whatever is in the `develop` branch.

One of things I wanted to do is revamp this library to follow patterns that is common nowadays. For t

[2020-11-29 20:49] Mir1001 commented on #55
Since the last release is 3 years old, I think that the new release will give a signal that this great project is not dead. You can name it minor 1.8.1. For a more "modern" version, you can start with 2.0 ;) Please do it.

[2020-11-29 20:49] #55 closed

[2020-12-11 19:16] nisrulz commented on #55
I have made a new release 1.9.0 🙇🏻‍♂️
I haven't been able to do much testing on my own, so if you find any issues please file them in the issue tracker.

[2021-01-06 17:07] jayesh83 opened #56 "MotionEvent object in callback of gesture/tap detection"
Hii thank you so much for such a wonderful library 🔆
I'm using some other library to detect a global touch in my app due to some personal reasons. Which detects touch anywhere in the apo. When there's any touch action I get a callback with motion event. which I can pass to Sensey touchDispatcher. Actually, I've some specific requirements. When there's any callback on gesture detection, say Swipe d

[2021-01-07 10:10] nisrulz commented on #56
Can you elaborate why you would need the MotionEvent for? Like what data are you trying to extract?

The thing is this is out of the scope of this library. Sensey is a gesture detection library. It will detect a gesture and return a call back with just that. Propagating data through the callback would defeat the goals of this library.

[2021-01-07 14:08] jayesh83 commented on #56
Yaa, I get your point. But Nishant problem is that I want to detect MotionEvent.x, MotionEvent.y, MotionEvent.actionType from the click and send it back to the server.

So I'm creating a screen sharing and remote access control app, where On the client-side if a click event happens I need to send the particular x, y, and action(down, up or move) back to the server. and the server will then render

[2021-01-07 21:51] nisrulz commented on #56
I will take a look if there a possibility of adding a solution, since the public API cannot be changed right away.

Alternatively I think you could just code this functionality using Android api itself. Take a look at how I implemented it in Sensey and create something similar for your usecase. Why I am suggesting this, because your use case is unique. A library usually caters to common solutions

[2021-01-08 02:45] jayesh83 commented on #56
I get your point. Sure then I'll look into Sensey code and will try to create something for my use case. Anyways, thank you so much for being responsive.🔆

[2021-01-08 02:48] jayesh83 commented on #56
Nishant, if possible please create an overridden method where we get MotionEvent object in callback as well. Until then I'll close the issue right away.

[2021-01-08 13:39] nisrulz commented on #56
I'll keep the issue open, in case someone has the same issue and would like to upvote it. At the same time I would also be looking into your suggestion.

Thank you for your contribution :)

[2021-01-08 14:05] jayesh83 commented on #56
Yeah Sure.

[2021-01-19 17:31] ashu-knock opened #57 "Step Detection Not Working"
Hi, Thank you so much for this library. Although Step Detection is Not Working. I'm not sure if I'm doing something wrong.

Below is the code:

      private val stepListener =
            StepListener { noOfSteps, distanceInMeter, stepActivityType ->
            Log.d(TAG,"$noOfSteps ")
    }

     override fun onCreate(savedInstanceState: Bundle?) {
         super.onCreate(savedInstanceState)

[2021-01-20 10:27] nisrulz commented on #57
I will take a look. It should. I tested this on multiple devices i.e Samsung, Asus, Xiaomi.

In the meantime, if you have access to other devices, can you confirm it doesn't work for you on those also. I want to make sure it is not something isolated to say OnePlus. (I don't have OnePlus device, but I can figure out something for working with it if it is isolated to this particular brand)

[2021-02-06 21:44] nisrulz opened #58 "Migrate to Maven Central"
JFrog just announced that they'll be shutting down JCenter:
https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

Key dates are:

February 28th: No more submissions will be accepted to Bintray, JCenter
May 1st: Bintray, JCenter services will no longer be available

Hence need to migrate to another maven repository like Maven central.

[2021-04-22 13:39] theeasylearn commented on #38
I am also not able to access stepdetector in version 1.9.0

[2021-07-09 11:05] clemhy opened #59 "Tilt Detector Threshold"
Hi, in some use cases, it would be convenient to have an editable threshold in the Tilt Detector.
In my case, I use the Shake Detector and the Tilt Detector at the same time, but shaking my device triggers the Tilt Detector most of the time, which is not what I'm looking for.

Apart from that, awesome library.

Thanks !

[2021-08-10 04:00] sebastinto commented on #21
I don't know if it's related but I've gotten a couple of _somewhat_ similar crashes. Please let me know if you'd prefer that UI open a new issue for it. See below:

[code]

Device was a Samsung Galaxy J7 Neo running Android 9 (SDK 28).

Any idea how I could investigate the source of this error? Thanks!

[2022-02-26 08:38] francogrex commented on #54
This is a great project, thanks very much for creating it, excellent work. One question: I am wondering for touch events, is it possible to make an even more complex recognition pattern, more so than the long press, swipe and double tap... something like when the user draws a S shape (etc.) for examples it triggers an event?.

[2022-02-27 19:40] nisrulz commented on #54
Please create an issue inside the correct project. This is a different project. I will delete your comment eventually.

[2022-02-27 19:42] nisrulz commented on #54
Please create a separate issue. This issue is used specifically to collect reviews about the project and not deal with feature requests/bug fixes.

P.S: I will delete your comment here eventually to keep this issue clean and focused on what it was created for.

[2022-02-27 20:53] nisrulz commented on #54
Please create a separate issue. This issue is used specifically to collect reviews about the project and not deal with feature requests/bug fixes.

P.S: I will delete your comment here eventually to keep this issue clean and focused on what it was created for.

[2022-04-14 14:16] #59 closed, assigned to nobody